.product-details {
  &__container {
    margin-top: 14px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 14px
  }
  &__product-info {
    grid-column: 1 / 11;
    grid-row: 1 / 6;
  }

  &__product-description {
    grid-column: 1/ 8;
    grid-row: 7 / 11;
  }
}
