@use 'commons' as commons;

.breadcrumb {
  margin: 14px 0;
  font-size: 14px;
  // Color doesn't pass accessibility
  color: commons.$gray-primary;
  display: flex;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__item {
    font-size: inherit;
    color: inherit;
  }

  // Add separator after each link except the last one
  &__item:not(:last-child)::after {
    content: ">";
    margin-left: 8px
  }
}
