.header {
  background-color: #ffe600;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding: 16px;

  &__search-box {
    min-width: none;
    width: calc((9 / 12) * 100vw);
  }
}
